.discount {

    .discount__content {
        padding: 131px 0 156px;

        .discount__title {
            text-align: center;
            margin: 0;
            padding-bottom: 156px;
        }

        .discount__items {
            display: flex;
            flex-wrap: wrap;
            gap: 78px;

            .discount__item {
                .item__title {
                    margin: 0;
                    padding-bottom: 40px;

                }

                .discount__card {
                    display: inline-flex;
                    align-items: center;

                    .discount__text {
                        padding-left: 24px;
                        margin: 0;


                    }

                }
            }
        }
    }
}

@media screen and (max-width: 1919px) {
    .discount {
        .discount__content {
            padding: 91px 0 53px;

            .discount__title {
                font-size: 42px;
                line-height: 100%;
                padding-bottom: 82px;
            }

            .discount__items {
                gap: 66px 181px;

                .discount__item {
                    .item__title {
                        font-size: 30px;
                        line-height: 100%;
                    }

                    .discount__card {

                        .discount__text {
                            font-size: 26px;
                            line-height: 100%;
                        }

                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1599px) {
    .discount {
        .discount__content {
            padding: 82px 0 74px;

            .discount__title {
                font-size: 28px;
                padding-bottom: 69px;
            }

            .discount__items {
                gap: 47px 131px;

                .discount__item {
                    .item__title {
                        font-size: 24px;
                        padding-bottom: 30px;
                    }

                    .discount__card {
                        .discount__image {
                            max-height: 114px;
                        }

                        .discount__text {
                            padding-left: 26px;
                            font-size: 22px;
                        }

                    }
                }
            }
        }
    }
}


@media screen and (max-width: 999px) {
    .discount {
        .discount__content {
            padding: 44px 0 56px;

            .discount__title {
                font-size: 16px;
                padding-bottom: 24px;
            }

            .discount__items {
                gap: 14px;

                .discount__item {
                    .item__title {
                        font-size: 14px;
                        padding-bottom: 10px;
                    }

                    .discount__card {
                        .discount__image {
                            max-height: 51px;
                        }

                        .discount__text {
                            padding-left: 10px;
                            font-size: 14px;
                        }

                    }
                }
            }
        }
    }
}

.discount__image1 {
    content: url(../pictures/discount/d_img1.png);
    height: 134px;
}

.discount__image2 {
    content: url(../pictures/discount//d_img2.png);
    height: 134px;

}

.discount__image3 {
    content: url(../pictures/discount//d_img3.png);
    height: 134px;

}