.footer__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 171px;

    p {
        text-align: center;
        padding: 30px 0 58px;
    }

    .footer__link3 {
        padding: 10px 0 104px;
    }
}