.product {
    .container {
        background: url(../pictures/product/pr_bg_l1.png), url(../pictures/product/pr_bg_r.png);
        background-repeat: no-repeat, no-repeat;
        background-size: auto, auto;
        background-position: left bottom, right top;
    }

    .container__bg1 {
        background: url(../pictures/product/mask_group.png);
        background-position: right 30.5%;
        background-repeat: no-repeat;
        background-size: 48.5%;
    }

    .product__content {
        display: flex;
        padding: 84px 0 132px;

        .product__content-left {
            .product__link {
                margin: 0;
            }


            .product__title1 {
                max-width: 910px;
                padding-top: 261px;
                margin: 0;
            }

            .product__title2 {
                margin: 0;
                padding-bottom: 64px;
            }

            .product__button2 {
                padding: 24px 113px;

            }

            .product__title3 {
                margin: 0;
                padding-top: 173px;
                max-width: 656px;
            }
        }

        .product__content-right {
            display: inline-flex;

            .product__text {
                position: relative;
                left: -100px;
                padding-top: 714px;
                text-align: center;

                .product__text1 {
                    margin: 0;
                    padding-bottom: 6px;
                }

                .product__text2 {
                    margin: 0;
                    padding-bottom: 10px;
                }

                .product__text3 {
                    margin: 0;
                }
            }
        }
    }
}

.product__hidden {
    display: none;
}

.button__on-off {
    margin: 886px 20px 0 20px;
    width: 314px;
    height: 54px;
    border: linear-gradient(228.55deg, #4A3E56 11.03%, #8891BC 84.36%);
    border-radius: 68px;
    text-align: center;
    background: #E6E6E6;

    .button__of {
        width: 50%;
        height: 54px;
        border-radius: 68px;
    }

    .button__on {
        width: 50%;
        height: 54px;
        border-radius: 68px;
        background: #E6E6E6;
        color: #363636;

    }

    .button__active {
        position: relative;
        background: linear-gradient(228.55deg, #4A3E56 11.03%, #8891BC 84.36%);
        border-radius: 68px;
        width: 174px;
        height: 54px;
        z-index: 1;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 1919px) {
    .product {
        .container {
            background-size: 20%, 15%;
        }

        .container__bg1 {
            background: url(../pictures/product/mask_group.png);
            background-position: right 3.5%;
            background-repeat: no-repeat;
            background-size: 28.5%;
        }

        .product__content {
            padding: 54px 0 121px;

            .product__link {
                font-size: 26px;
                line-height: 30px;
            }

            .product__content-left {

                .product__title1 {
                    max-width: 574px;
                    padding-top: 204px;
                    font-size: 58px;
                    line-height: 67px;
                }

                .product__title2 {
                    padding-bottom: 50px;
                    font-size: 34px;
                    line-height: 39px;
                }

                .product__button2 {
                    padding: 17px 81px;
                    font-size: 18px;
                    line-height: 21px;

                }

                .product__title3 {
                    padding-top: 123px;
                    max-width: 468px;
                    font-size: 32px;
                    line-height: 37px;
                }
            }

            .product__content-right {


                .product__text {
                    position: relative;
                    padding-top: 527px;
                    left: 0;

                    .product__text1 {
                        font-size: 24px;
                        line-height: 28px;
                        padding-bottom: 5px;
                    }

                    .product__text2 {
                        font-size: 50px;
                        line-height: 57px;
                    }

                    .product__text3 {
                        font-size: 22px;
                        line-height: 25px;
                    }
                }

                .button__on-off {

                    margin: 610px 20px 0 77px;
                    width: 224px;
                    height: 39px;

                    .button__active {
                        border-radius: 49px;
                        width: 124px;
                        height: 39px;
                    }

                    .button__of {
                        width: 50%;
                        height: 39px;
                        border-radius: 49px;
                    }

                    .button__on {
                        width: 50%;
                        height: 39px;
                        border-radius: 49px;

                    }

                }
            }
        }
    }
}


@media screen and (max-width: 1599px) {
    .product {
        .container {
            background-size: 15%, 15%;
        }

        .container__bg1 {
            background: url(../pictures/product/mask_group.png);
            background-position: right 3.5%;
            background-repeat: no-repeat;
            background-size: 18.5%;
        }

        .product__content {
            padding: 54px 0 64px;

            .product__link {
                font-size: 22px;
                line-height: 25px;
            }

            .product__content-left {

                .product__title1 {
                    max-width: 416px;
                    padding-top: 127px;
                    font-size: 42px;
                    line-height: 48px;
                }

                .product__title2 {
                    padding-bottom: 41px;
                    font-size: 28px;
                    line-height: 32px;
                }

                .product__button2 {
                    padding: 18px 90px;
                    font-size: 16px;
                    line-height: 18px;

                }

                .product__title3 {
                    padding-top: 98px;
                    max-width: 358px;
                    font-size: 22px;
                    line-height: 25px;
                }
            }

            .product__content-right {


                .product__text {
                    position: relative;
                    padding-top: 385px;
                    left: 0;

                    .product__text1 {
                        font-size: 16px;
                        line-height: 18px;
                        padding-bottom: 5px;
                    }

                    .product__text2 {
                        font-size: 42px;
                        line-height: 48px;
                    }

                    .product__text3 {
                        font-size: 20px;
                        line-height: 23px;
                    }
                }

                .button__on-off {
                    margin: 450px 20px 0 52px;
                    font-size: 14px;
                    line-height: 16px;

                }
            }
        }
    }

}

@media screen and (max-width: 999px) {
    .product {
        .container {
            background: url(../pictures/product/pr_bg-r-mobile.png), url(../pictures/product/pr_bg_l1.png);
            background-position: right top, -20% 100%;
            background-repeat:  no-repeat, no-repeat;
            background-size: 45%;
        }

        .container__bg1 {
            background: none
        }

        .product__content {
            display: none;

        }

        .product__hidden {
            display: block;

            .product__hidden-content {
               
                padding-top: 16px;
                display: flex;
                flex-direction: column;

                .product__link {
                    font-size: 14px;
                    line-height: 16px;
                    padding-bottom: 10px;
                }

                .button__on-off {

                    margin: 0;
                    width: 89px;
                    height: 23px;


                    .button__active {
                        border-radius: 49px;
                        width: 70px;
                        height: 23px;
                    }

                    .button__of {
                        width: 50%;
                        height: 23px;
                        border-radius: 49px;
                        font-size: 10px;
                        line-height: 11px;
                        text-align: center;
                    }

                    .button__on {
                        width: 50%;
                        height: 23px;
                        border-radius: 49px;
                        font-size: 10px;
                        line-height: 11px;
                        text-align: center;

                    }

                }

                .product__title1 {
                    font-size: 28px;
                    line-height: 32px;
                    width: 277px;
                    text-align: center;
                    margin: 0 auto;
                    padding-top: 33px;
                }

                .product__title2 {
                    font-size: 14px;
                    line-height: 16px;
                    position: relative;
                    left: 167px;
                    margin: 0;

                }

                .product__hidden-img {
                    content: url(../pictures/product/pr_bg-mobile.png);
                }

                .product__hidden-text {
                    margin: 0;
                    text-align: center;

                    .product__text1 {
                        font-size: 16px;
                        line-height: 100%;
                        margin: 0;
                    }

                    .product__text2 {
                        font-size: 32px;
                        line-height: 100%;
                        margin: 0;
                        padding: 4px 0;
                    }

                    .product__text3 {
                        font-size: 18px;
                        line-height: 100%;
                        margin: 0;
                    }
                }

                .product__button2 {
                    position: relative;
                    left: 35px;
                    font-size: 14px;
                    line-height: 16px;
                    padding: 15px 50px;
                    margin: 21px auto 43px;
                }

                .product__title3 {
                    margin: 0 auto;
                    text-align: center;
                    font-size: 16px;
                    line-height: 120%;
                    width: 218px;
                }

            }
        }
    }
}