.info__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    width: 100%;

    .slider {
        max-height: 600px;
        width: 600px;
        margin: 0 auto;
        overflow: hidden;

        .slider__line {
            width: 100%;
            max-height: 600px;
            display: flex;
            position: relative;
            left: 0;

            .slider__image {
                width: 600px;
                max-height: 600px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    padding: 0 150px;
                }
            }
        }
    }
}
.info__slider-scroll{
    position: relative;
}
.info__scroll {
    text-align: center;
    margin: 110px auto 90px;
}
.reviews__scroll {
    text-align: center;
    margin: 75px auto 131px;
}
.reviews__slider-scroll{
    position: relative;
}

input[type=range] {
    margin: 0 auto;
    position: relative;
    width: 332px;
    appearance: none;
    outline: none;
    overflow: hidden;
    height: 15px;
    border-radius: 28px;
}

input[type=range]::-webkit-slider-thumb {
    background: linear-gradient(228.55deg, #4A3E56 11.03%, #8891BC 84.36%);
    border-radius: 28px;
    cursor: pointer;
    width: 140px;
    height: 15px;
    appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #D9D9D9;
}

@media screen and (max-width: 1919px) {
    .info__cont {
        margin: 0 15px;

        .slider {
            max-height: 410px;
            width: 300px;

            .slider__line {
                width: 100%;
                max-height: 410px;
                left: 0;

                .slider__image {
                    width: 300px;
                    max-height: 410px;

                    img {
                        height: 55%;
                    }
                }
            }
        }

        .button__circle {
            width: 48px;
            height: 48px;

            img {
                max-width: 60%;
            }
        }
    }

    .info__scroll {
        text-align: center;
        margin: 34px auto 124px;
    }
    .reviews__scroll {
        text-align: center;
        margin: 69px auto 69px;
    }
    
    input[type=range] {
        width: 270px;
        height: 12px;
        border-radius: 28px;
    }
    
    input[type=range]::-webkit-slider-thumb {
        border-radius: 28px;
        width: 114px;
        height: 12px;
    }
    
}

@media screen and (max-width: 1599px) {
    .info__cont {
        margin: 0 auto;

        .slider {
            margin: 0 122px;
            height: 350px;
            width: 350px;

            .slider__line {
                width: 100%;
                height: 350px;
                left: 0;

                .slider__image {
                    width: 100%;
                    max-height: 350px;

                    img {
                        height: 60%;
                        padding: 0 170px;
                    }
                }
            }
        }

    }
    .info__scroll {
        text-align: center;
        margin: 79px auto 71px;
    }
    .reviews__scroll {
        text-align: center;
        margin: 45px auto 68px;
    }
        
}




@media screen and (max-width: 999px) {
    .info__cont {
        .slider {
            margin: 0 5px;
            height: 200px;
            width: 200px;

            .slider__line {
                width: 100%;
                height: 200px;
                left: 0;

                .slider__image {
                    width: 100%;
                    max-height: 200px;

                    img {
                        height: 70%;
                        padding: 0 150px;
                    }
                }
            }
        }

        .button__circle {
            width: 32px;
            height: 32px;

            img {
                max-width: 50%;
            }
        }
    }

.info__scroll {
    text-align: center;
    margin: 45px auto 54px;
}
.reviews__scroll {
    text-align: center;
    margin: 42px auto 42px;
}

input[type=range] {
    width: 147px;
    height: 7px;

}

input[type=range]::-webkit-slider-thumb {
    width: 62px;
    height: 7px;
}
}





























.slider__image1 {
    content: url(../pictures/info/carousel_1.png);

}

.slider__image2 {
    content: url(../pictures/info/carousel_2.png);

}

.slider__image3 {
    content: url(../pictures/info/carousel_3.png);

}

.slider__image4 {
    content: url(../pictures/info/carousel_4.png);

}

.slider__image5 {
    content: url(../pictures/info/carousel_5.png);

}