@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap");
body {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  color: #363636;
}

.product__link {
  font-weight: 500;
  font-size: 36px;
  line-height: 41px;
  background: linear-gradient(228.55deg, #4A3E56 11.03%, #8891BC 84.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.product__title1 {
  font-weight: 700;
  font-size: 92px;
  line-height: 106px;
  text-transform: uppercase;
}

.product__title2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  color: #8C94BD;
  text-transform: uppercase;
}

.product__title3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  text-transform: uppercase;
}

.product__text1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 41px;
}

.product__text2 {
  font-weight: 500;
  font-size: 72px;
  line-height: 83px;
}

.product__text3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #A3A3A3;
}

.benefits__title {
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  line-height: 120%;
  word-break: break-all;
}

.info__title {
  font-weight: 700;
  font-size: 52px;
  line-height: 120%;
  text-align: center;
}

.config__text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  color: #E6E6E6;
  max-width: 301px;
}

.description__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
}

.description__text h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  background: linear-gradient(228.55deg, #4A3E56 11.03%, #8891BC 84.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
  padding: 0 0 12px;
}

.description__text p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin: 0;
  padding: 0 0 36px;
}

.video__text {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #E6E6E6;
}

.discount__title {
  font-weight: 700;
  font-size: 52px;
  line-height: 100%;
}

.item__title {
  font-weight: 600;
  font-size: 26px;
  line-height: 100%;
}

.discount__text {
  font-family: 'Manrope';
  font-weight: 600;
  font-size: 26px;
  line-height: 100%;
  color: #4A3E56;
}

.reviews__title {
  font-weight: 700;
  font-size: 52px;
  line-height: 100%;
}

.suggest__title {
  font-size: 52px;
  line-height: 120%;
}

.card__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
}

.price {
  font-weight: 500;
}

.price1 {
  color: #A3A3A3;
}

.price1 p {
  font-size: 20px;
  line-height: 23px;
}

.price1 span {
  font-size: 32px;
  line-height: 37px;
}

.price2 p {
  font-size: 20px;
  line-height: 23px;
}

.price2 span {
  font-size: 48px;
  line-height: 55px;
}

.card__button {
  font-size: 26px;
  line-height: 30px;
}

.order__title {
  font-weight: 700;
  font-size: 52px;
  line-height: 100%;
}

.order__text {
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
}

.sale__content-text {
  color: #E6E6E6;
}

.sale__content-text h4 {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #E6E6E6;
}

.sale__content-text p {
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #E6E6E6;
}

.form__text1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 41px;
  color: #E6E6E6;
}

.form__text2 {
  font-weight: 500;
  font-size: 72px;
  line-height: 83px;
  color: #E6E6E6;
}

.form__text3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #A3A3A3;
}

.sale__button {
  font-size: 26px;
  line-height: 30px;
}

.sale__count-lamp input {
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
}

.sale__count-lamp button {
  font-size: 30px;
  line-height: 34px;
}

button {
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  border: none;
}

.dark {
  color: #E6E6E6;
}

.dark .card__title {
  color: #363636;
}

.dark .card__price {
  color: #363636;
}

.dark .discount__text {
  color: #E6E6E6;
}

.dark footer {
  color: #E6E6E6;
}

.dark footer a {
  color: #E6E6E6;
}

footer {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;
  color: #1B1B1B;
}

footer .footer__link {
  font-size: 28px;
}

.review__card {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
}

.review__card .review__card-name {
  font-size: 24px;
  line-height: 100%;
}

.review__card .review__card-date {
  font-size: 24px;
  line-height: 100%;
  color: #B5B5B5;
}

.review__card .review__card-place {
  font-size: 16px;
  line-height: 100%;
  color: #B5B5B5;
}

.review__card .review__card-stars {
  font-size: 20px;
  line-height: 120%;
}

@media screen and (max-width: 1919px) {
  .price1 p {
    font-size: 16px;
    line-height: 18px;
  }
  .price1 span {
    font-size: 26px;
    line-height: 30px;
  }
  .price2 p {
    font-size: 16px;
    line-height: 18px;
  }
  .price2 span {
    font-size: 40px;
    line-height: 46px;
  }
}

@media screen and (max-width: 1599px) {
  .price1 p {
    font-size: 12px;
    line-height: 15px;
  }
  .price1 span {
    font-size: 21px;
    line-height: 24px;
  }
  .price2 p {
    font-size: 12px;
    line-height: 15px;
  }
  .price2 span {
    font-size: 32px;
    line-height: 37px;
  }
}

@media screen and (max-width: 999px) {
  .price1 p {
    font-size: 6px;
    line-height: 7px;
  }
  .price1 span {
    font-size: 10px;
    line-height: 11px;
  }
  .price2 p {
    font-size: 6px;
    line-height: 7px;
  }
  .price2 span {
    font-size: 18px;
    line-height: 21px;
  }
}

.product .container {
  background: url(../pictures/product/pr_bg_l1.png), url(../pictures/product/pr_bg_r.png);
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
  background-position: left bottom, right top;
}

.product .container__bg1 {
  background: url(../pictures/product/mask_group.png);
  background-position: right 30.5%;
  background-repeat: no-repeat;
  background-size: 48.5%;
}

.product .product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 84px;
}

.product .product__content .product__content-left .product__link {
  margin: 0;
}

.product .product__content .product__content-left .product__title1 {
  max-width: 910px;
  padding-top: 261px;
  margin: 0;
}

.product .product__content .product__content-left .product__title2 {
  margin: 0;
  padding-bottom: 64px;
}

.product .product__content .product__content-left .product__button2 {
  padding: 24px 113px;
}

.product .product__content .product__content-left .product__title3 {
  margin: 0;
  padding-top: 173px;
  max-width: 656px;
  padding-bottom: 132px;
}

.product .product__content .product__content-right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.product .product__content .product__content-right .product__text {
  position: relative;
  left: -100px;
  padding-top: 714px;
  text-align: center;
}

.product .product__content .product__content-right .product__text .product__text1 {
  margin: 0;
  padding-bottom: 6px;
}

.product .product__content .product__content-right .product__text .product__text2 {
  margin: 0;
  padding-bottom: 10px;
}

.product .product__content .product__content-right .product__text .product__text3 {
  margin: 0;
}

.product__hidden {
  display: none;
}

.button__on-off {
  margin: 886px 20px 0 20px;
  width: 314px;
  height: 54px;
  border: linear-gradient(228.55deg, #4A3E56 11.03%, #8891BC 84.36%);
  border-radius: 68px;
  text-align: center;
  background: #E6E6E6;
}

.button__on-off .button__of {
  width: 50%;
  height: 54px;
  border-radius: 68px;
}

.button__on-off .button__on {
  width: 50%;
  height: 54px;
  border-radius: 68px;
  background: #E6E6E6;
  color: #363636;
}

.button__on-off .button__active {
  position: relative;
  background: linear-gradient(228.55deg, #4A3E56 11.03%, #8891BC 84.36%);
  border-radius: 68px;
  width: 174px;
  height: 54px;
  z-index: 1;
  color: #FFFFFF;
}

@media screen and (max-width: 1919px) {
  .product .container {
    background-size: 20%, 15%;
  }
  .product .container__bg1 {
    background: url(../pictures/product/mask_group.png);
    background-position: right 3.5%;
    background-repeat: no-repeat;
    background-size: 28.5%;
  }
  .product .product__content {
    padding-top: 54px;
  }
  .product .product__content .product__link {
    font-size: 26px;
    line-height: 30px;
  }
  .product .product__content .product__content-left .product__title1 {
    max-width: 574px;
    padding-top: 204px;
    font-size: 58px;
    line-height: 67px;
  }
  .product .product__content .product__content-left .product__title2 {
    padding-bottom: 50px;
    font-size: 34px;
    line-height: 39px;
  }
  .product .product__content .product__content-left .product__button2 {
    padding: 17px 81px;
    font-size: 18px;
    line-height: 21px;
  }
  .product .product__content .product__content-left .product__title3 {
    padding-top: 123px;
    max-width: 468px;
    padding-bottom: 121px;
    font-size: 32px;
    line-height: 37px;
  }
  .product .product__content .product__content-right .product__text {
    position: relative;
    padding-top: 527px;
    left: 0;
  }
  .product .product__content .product__content-right .product__text .product__text1 {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 5px;
  }
  .product .product__content .product__content-right .product__text .product__text2 {
    font-size: 50px;
    line-height: 57px;
  }
  .product .product__content .product__content-right .product__text .product__text3 {
    font-size: 22px;
    line-height: 25px;
  }
  .product .product__content .product__content-right .button__on-off {
    margin: 610px 20px 0 77px;
    width: 224px;
    height: 39px;
  }
  .product .product__content .product__content-right .button__on-off .button__active {
    border-radius: 49px;
    width: 124px;
    height: 39px;
  }
  .product .product__content .product__content-right .button__on-off .button__of {
    width: 50%;
    height: 39px;
    border-radius: 49px;
  }
  .product .product__content .product__content-right .button__on-off .button__on {
    width: 50%;
    height: 39px;
    border-radius: 49px;
  }
}

@media screen and (max-width: 1599px) {
  .product .container {
    background-size: 15%, 15%;
  }
  .product .container__bg1 {
    background: url(../pictures/product/mask_group.png);
    background-position: right 3.5%;
    background-repeat: no-repeat;
    background-size: 18.5%;
  }
  .product .product__content {
    padding-top: 54px;
  }
  .product .product__content .product__link {
    font-size: 22px;
    line-height: 25px;
  }
  .product .product__content .product__content-left .product__title1 {
    max-width: 416px;
    padding-top: 127px;
    font-size: 42px;
    line-height: 48px;
  }
  .product .product__content .product__content-left .product__title2 {
    padding-bottom: 41px;
    font-size: 28px;
    line-height: 32px;
  }
  .product .product__content .product__content-left .product__button2 {
    padding: 18px 90px;
    font-size: 16px;
    line-height: 18px;
  }
  .product .product__content .product__content-left .product__title3 {
    padding-top: 98px;
    max-width: 358px;
    padding-bottom: 64px;
    font-size: 22px;
    line-height: 25px;
  }
  .product .product__content .product__content-right .product__text {
    position: relative;
    padding-top: 385px;
    left: 0;
  }
  .product .product__content .product__content-right .product__text .product__text1 {
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 5px;
  }
  .product .product__content .product__content-right .product__text .product__text2 {
    font-size: 42px;
    line-height: 48px;
  }
  .product .product__content .product__content-right .product__text .product__text3 {
    font-size: 20px;
    line-height: 23px;
  }
  .product .product__content .product__content-right .button__on-off {
    margin: 450px 20px 0 52px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 999px) {
  .product .container {
    background: url(../pictures/product/pr_bg-r-mobile.png);
    background-position: right top;
    background-repeat: no-repeat;
  }
  .product .container__bg1 {
    background: none;
  }
  .product .product__content {
    display: none;
  }
  .product .product__hidden {
    display: block;
  }
  .product .product__hidden .product__hidden-content {
    padding-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product .product__hidden .product__hidden-content .product__link {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 10px;
  }
  .product .product__hidden .product__hidden-content .button__on-off {
    margin: 0;
    width: 89px;
    height: 23px;
  }
  .product .product__hidden .product__hidden-content .button__on-off .button__active {
    border-radius: 49px;
    width: 70px;
    height: 23px;
  }
  .product .product__hidden .product__hidden-content .button__on-off .button__of {
    width: 50%;
    height: 23px;
    border-radius: 49px;
    font-size: 10px;
    line-height: 11px;
    text-align: center;
  }
  .product .product__hidden .product__hidden-content .button__on-off .button__on {
    width: 50%;
    height: 23px;
    border-radius: 49px;
    font-size: 10px;
    line-height: 11px;
    text-align: center;
  }
  .product .product__hidden .product__hidden-content .product__title1 {
    font-size: 28px;
    line-height: 32px;
    width: 277px;
    text-align: center;
    margin: 0 auto;
    padding-top: 33px;
  }
  .product .product__hidden .product__hidden-content .product__title2 {
    font-size: 14px;
    line-height: 16px;
    position: relative;
    left: 167px;
    margin: 0;
  }
  .product .product__hidden .product__hidden-content .product__hidden-img {
    content: url(../pictures/product/pr_bg-mobile.png);
  }
  .product .product__hidden .product__hidden-content .product__hidden-text {
    margin: 0;
    text-align: center;
  }
  .product .product__hidden .product__hidden-content .product__hidden-text .product__text1 {
    font-size: 16px;
    line-height: 100%;
    margin: 0;
  }
  .product .product__hidden .product__hidden-content .product__hidden-text .product__text2 {
    font-size: 32px;
    line-height: 100%;
    margin: 0;
    padding: 4px 0;
  }
  .product .product__hidden .product__hidden-content .product__hidden-text .product__text3 {
    font-size: 18px;
    line-height: 100%;
    margin: 0;
  }
  .product .product__hidden .product__hidden-content .product__button2 {
    position: relative;
    left: 35px;
    font-size: 14px;
    line-height: 16px;
    padding: 15px 50px;
    margin: 21px auto 43px;
  }
  .product .product__hidden .product__hidden-content .product__title3 {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 120%;
    width: 218px;
  }
}

.benefits .container {
  background: url(../pictures/product/pr_bg_l2.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.benefits .benefits__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 150px;
  padding: 79px 0 146px 0;
}

.benefits .benefits__content .benefits__item .benefits__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 81px;
  width: auto;
}

.benefits .benefits__content .benefits__item .benefits__title {
  text-align: center;
}

@media screen and (max-width: 1919px) {
  .benefits .container {
    background-size: 20%;
  }
  .benefits .benefits__content {
    gap: 57px;
    padding: 77px 0 108px 0;
  }
  .benefits .benefits__content .benefits__item {
    text-align: center;
  }
  .benefits .benefits__content .benefits__item .benefits__image img {
    height: 86%;
  }
  .benefits .benefits__content .benefits__item .benefits__title {
    font-size: 25px;
    line-height: 120%;
  }
}

@media screen and (max-width: 1599px) {
  .benefits .container {
    background-size: 15%;
  }
  .benefits .benefits__content {
    gap: 35px;
    padding: 77px 0 74px 0;
  }
  .benefits .benefits__content .benefits__item {
    text-align: center;
  }
  .benefits .benefits__content .benefits__item .benefits__image img {
    height: 66%;
  }
  .benefits .benefits__content .benefits__item .benefits__title {
    font-size: 18px;
    line-height: 120%;
  }
}

.image1 {
  content: url(../pictures/product/pr_ico1.png);
}

.image2 {
  content: url(../pictures/product/pr_ico2.png);
}

.image3 {
  content: url(../pictures/product/pr_ico3.png);
}

.image4 {
  content: url(../pictures/product/pr_ico4.png);
}

.info .container {
  background: url(../pictures/info/bg_l.png), url(../pictures/info/bg_r.png);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, right 80%;
}

.info .info__content {
  padding: 69px 0 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .info__content .info__title {
  margin: 0 auto;
  max-width: 590px;
}

.info .info__content .info__photos {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info .info__content .info__photos .info__config {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.info .info__content .info__photos .info__config .config__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(228.55deg, #4A3E56 11.03%, #8891BC 84.36%);
  border-radius: 12px;
  width: 400px;
  height: 124px;
  padding-left: 30px;
}

.info .info__content .info__photos .info__config .config__item div {
  max-height: 54px;
  max-width: 54px;
}

.info .info__content .info__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 159px;
}

.info .info__content .info__description .description__image {
  padding-top: 114px;
}

.info .info__content .info__description .description__image .description__title {
  margin: 0 auto;
  text-align: center;
  max-width: 416px;
  padding-bottom: 42px;
  font-size: 27px;
  line-height: 31px;
}

.info .info__content .info__description .description__image .description__img img {
  max-width: 679px;
}

.info .info__content .info__description .description__text {
  max-width: 522px;
  padding-top: 290px;
}

.hidden__container {
  display: none;
}

.hidden__container .info__hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 21px;
}

.hidden__container .info__hidden .info__hidden-config {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.hidden__container .info__hidden .info__hidden-config .config__hidden-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(228.55deg, #4A3E56 11.03%, #8891BC 84.36%);
  border-radius: 11px;
  width: 357px;
  height: 111px;
  padding-left: 30px;
}

.hidden__container .info__hidden .info__hidden-config .config__hidden-item .config__text {
  font-size: 24px;
  line-height: 120%;
}

.hidden__container .info__hidden .info__hidden-config .config__hidden-item div {
  height: 48px;
  width: 48px;
}

@media screen and (max-width: 1919px) {
  .info .container {
    background: url(../pictures/info/bg_l.png), url(../pictures/info/bg_r.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right 80%;
    background-size: 20%, 17.5%;
  }
  .info .info__content {
    padding: 53px 0 114px;
  }
  .info .info__content .info__title {
    max-width: 477px;
    font-size: 40px;
    line-height: 120%;
  }
  .info .info__content .info__photos {
    margin-top: 78px;
  }
  .info .info__content .info__photos .info__config {
    gap: 35px;
  }
  .info .info__content .info__photos .info__config .config__item {
    border-radius: 11px;
    width: 357px;
    height: 111px;
    padding-left: 26px;
    font-size: 24px;
    line-height: 120%;
  }
  .info .info__content .info__photos .info__config .config__item .config__text {
    font-size: 24px;
    line-height: 120%;
  }
  .info .info__content .info__photos .info__config .config__item div {
    height: 48px;
    width: 48px;
  }
  .info .info__content .info__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 100px;
  }
  .info .info__content .info__description .description__image {
    padding-top: 114px;
  }
  .info .info__content .info__description .description__image .description__title {
    max-width: 335px;
    padding-bottom: 44px;
  }
  .info .info__content .info__description .description__image .description__img {
    max-width: 547px;
  }
  .info .info__content .info__description .description__text {
    max-width: 420px;
    padding-top: 202px;
  }
  .info .info__content .info__description .description__text h4 {
    font-size: 26px;
    line-height: 120%;
    padding-bottom: 10px;
  }
  .info .info__content .info__description .description__text p {
    max-width: 420px;
    font-size: 16px;
    line-height: 120%;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 1599px) {
  .info .container {
    background: url(../pictures/info/bg_l.png), url(../pictures/info/bg_r.png);
    background-repeat: no-repeat, no-repeat;
    background-position: -25% 90%, 115% 90%;
    background-size: 35%, 25%;
  }
  .info .info__content {
    padding: 39px 0 65px;
  }
  .info .info__content .info__title {
    max-width: 333px;
    font-size: 28px;
    line-height: 120%;
  }
  .info .info__content .info__photos {
    margin-top: 40px;
  }
  .info .info__content .info__photos .info__config .config__item {
    display: none;
  }
  .info .info__content .hidden__container {
    display: none;
  }
  .info .info__content .hidden__container .info__hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 21px;
  }
  .info .info__content .hidden__container .info__hidden .info__hidden-config {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
  }
  .info .info__content .hidden__container .info__hidden .info__hidden-config .config__hidden-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: linear-gradient(228.55deg, #4A3E56 11.03%, #8891BC 84.36%);
    border-radius: 11px;
    width: 357px;
    height: 111px;
    padding-left: 30px;
  }
  .info .info__content .hidden__container .info__hidden .info__hidden-config .config__hidden-item .config__text {
    font-size: 24px;
    line-height: 120%;
  }
  .info .info__content .hidden__container .info__hidden .info__hidden-config .config__hidden-item div {
    height: 48px;
    width: 48px;
  }
  .info .info__content .hidden__container {
    display: block;
  }
  .info .info__content .info__description {
    gap: 56px;
  }
  .info .info__content .info__description .description__image {
    padding-top: 124px;
  }
  .info .info__content .info__description .description__image .description__title {
    position: relative;
    left: 180px;
    max-width: 335px;
    padding-bottom: 45px;
  }
  .info .info__content .info__description .description__image .description__img {
    max-width: 450px;
  }
  .info .info__content .info__description .description__text {
    max-width: 304px;
    padding-top: 240px;
  }
  .info .info__content .info__description .description__text h4 {
    font-size: 24px;
  }
  .info .info__content .info__description .description__text p {
    max-width: 304px;
    font-size: 14px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 999px) {
  .info .container {
    background: url(../pictures/info/bg_l.png), url(../pictures/info/bg_r.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, 115% 84%;
    background-size: 25%, 35%;
  }
  .info .info__content {
    padding: 15px 0 57px;
  }
  .info .info__content .info__title {
    max-width: 205px;
    font-size: 18px;
    line-height: 21px;
  }
  .info .info__content .info__photos {
    margin-top: 14px;
  }
  .info .info__content .hidden__container .info__hidden {
    gap: 20px;
  }
  .info .info__content .hidden__container .info__hidden .info__hidden-config {
    gap: 8px;
  }
  .info .info__content .hidden__container .info__hidden .info__hidden-config .config__hidden-item {
    width: 140px;
    height: 56px;
    padding-left: 12px;
  }
  .info .info__content .hidden__container .info__hidden .info__hidden-config .config__hidden-item .config__text {
    font-size: 10px;
    line-height: 120%;
    padding-left: 12px;
  }
  .info .info__content .hidden__container .info__hidden .info__hidden-config .config__hidden-item div {
    height: 22px;
    width: 22px;
  }
  .info .info__content .info__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info .info__content .info__description .description__image {
    padding-top: 67px;
  }
  .info .info__content .info__description .description__image .description__title {
    left: 0;
    max-width: 179px;
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 18px;
  }
  .info .info__content .info__description .description__image .description__img {
    max-width: 283px;
    position: relative;
    left: 10px;
  }
  .info .info__content .info__description .description__text {
    max-width: 306px;
    margin: 0;
    padding: 0;
  }
  .info .info__content .info__description .description__text h4 {
    font-size: 16px;
    line-height: 120%;
    padding-bottom: 10px;
  }
  .info .info__content .info__description .description__text p {
    font-size: 12px;
    line-height: 120%;
    padding-bottom: 20px;
  }
}

.config__text {
  padding-left: 30px;
}

.item1 {
  content: url(../pictures/info/i_ico1.png);
}

.item2 {
  content: url(../pictures/info/i_ico2.png);
}

.item3 {
  content: url(../pictures/info/i_ico3.png);
}

.item4 {
  content: url(../pictures/info/i_ico4.png);
}

.item5 {
  content: url(../pictures/info/i_ico5.png);
}

.item6 {
  content: url(../pictures/info/i_ico6.png);
}

.button__circle-left-img {
  content: url(../pictures/info/btn_l.png);
}

.button__circle-right-img {
  content: url(../pictures/info/btn_r.png);
}

.description__img {
  content: url(../pictures/info/i_d_img.png);
}

.video {
  background: url(../pictures/video/v_bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.video .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video .container .video__content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 167px;
  padding: 260px 230px 260px 140px;
}

.video .container .video__content .video__frame {
  width: 812.54px;
  height: 799px;
}

.video .container .video__content .video__frame iframe {
  width: 100%;
  height: 100%;
  background: url(../pictures/video/v_frame.png);
  background-position: center;
  background-size: 100%;
}

.video .container .video__content .video__text p {
  width: 442px;
}

@media screen and (max-width: 1919px) {
  .video {
    background: url(../pictures/video/v_bg.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .video .container .video__content {
    gap: 100px;
    padding: 119px 280px 120px 0;
  }
  .video .container .video__content .video__frame {
    width: 660px;
    height: 649px;
  }
  .video .container .video__content .video__text p {
    width: 340px;
    font-size: 24px;
    line-height: 120%;
  }
}

@media screen and (max-width: 1599px) {
  .video .container .video__content {
    gap: 60px;
    padding: 67px 110px 67px 0;
  }
  .video .container .video__content .video__frame {
    width: 480px;
    height: 472px;
  }
  .video .container .video__content .video__text p {
    width: 320px;
    font-size: 22px;
  }
}

@media screen and (max-width: 999px) {
  .video .container .video__content {
    gap: 22px;
    padding: 30px 30px 21px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .video .container .video__content .video__frame {
    width: 300px;
    height: 296px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .video .container .video__content .video__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .video .container .video__content .video__text p {
    width: 267px;
    font-size: 12px;
  }
}

.discount .discount__title {
  text-align: center;
  margin: 131px auto 156px;
}

.discount .discount__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 78px;
          column-gap: 78px;
  margin-bottom: 137px;
}

.discount .discount__content .discount__item .discount__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discount .discount__content .discount__item .discount__card .discount__images {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discount .discount__content .discount__item .discount__card .discount__images .discount__image {
  position: relative;
  z-index: 10;
}

.discount .discount__content .discount__item .discount__card .discount__images .discount__image1 {
  left: -25%;
  z-index: 1;
}

.discount .discount__content .discount__item .discount__card .discount__images .discount__image2 {
  left: -12.5%;
  z-index: 1;
}

.discount .discount__content .discount__item .discount__card .discount__images .discount__image3 {
  left: -25%;
  z-index: 0;
  margin: 0;
}

.discount .discount__content .discount__item .discount__card .discount__images .discount__image4 {
  left: -20%;
  z-index: 0;
  margin: 0;
}

.discount .discount__content .discount__item .discount__card .discount__images .discount__text {
  position: relative;
}

.discount__image {
  content: url(../pictures/discount/d_ico.png);
  max-width: 134px;
}

@media screen and (max-width: 1919px) {
  .discount .discount__title {
    margin: 91px auto 82px;
    font-size: 42px;
    line-height: 100%;
  }
  .discount .discount__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 66px 181px;
    margin-bottom: 53px;
  }
  .discount .discount__content .discount__item .item__title {
    font-size: 30px;
    line-height: 100%;
  }
  .discount .discount__content .discount__item .discount__text {
    font-size: 26px;
    line-height: 100%;
  }
}

@media screen and (max-width: 1599px) {
  .discount .discount__title {
    margin: 83px auto 69px;
    font-size: 28px;
  }
  .discount .discount__content {
    gap: 47px 131px;
    margin-bottom: 74px;
  }
  .discount .discount__content .discount__item .item__title {
    font-size: 24px;
  }
  .discount .discount__content .discount__item .discount__text {
    font-size: 22px;
  }
  .discount__image {
    max-width: 114px;
  }
}

@media screen and (max-width: 999px) {
  .discount .discount__title {
    margin: 44px auto 24px;
    font-size: 16px;
  }
  .discount .discount__content {
    gap: 14px;
    margin-bottom: 55px;
  }
  .discount .discount__content .discount__item .item__title {
    font-size: 14px;
  }
  .discount .discount__content .discount__item .discount__text {
    font-size: 14px;
  }
  .discount__image {
    max-width: 51px;
  }
}

.reviews__content {
  padding: 131px 0 118px;
}

.reviews__content .reviews__title {
  margin: 0 auto;
  text-align: center;
}

.reviews__content .reviews__slider-cont {
  padding-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.reviews__content .reviews__slider-cont .reviews__slider {
  height: 510px;
  width: 100%;
  margin: 0 56px;
  overflow: hidden;
}

.reviews__content .reviews__slider-cont .reviews__slider .reviews__slider-line {
  max-height: 510px;
  width: 578px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 56px 30px;
  position: relative;
  left: 0;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.review__card {
  background: #D9D9D9;
  border-radius: 12px;
  width: 578px;
  height: 223px;
  margin: 0;
  padding: 36px 54px 42px;
}

.review__card .review__card-name {
  display: inline-block;
  width: 170px;
  padding-bottom: 4px;
}

.review__card .review__card-date {
  padding-left: 0;
}

.review__card .review__card-place {
  padding-bottom: 4px;
}

.review__card .review__card-stars {
  padding-bottom: 25px;
}

.review__card p {
  font-size: 20px;
  line-height: 120%;
}

.card__star5 {
  content: url(../pictures/reviews/5star.png);
  max-width: 124px;
}

.card__star4 {
  content: url(../pictures/reviews/4star.png);
  max-width: 124px;
}

@media screen and (max-width: 1919px) {
  .reviews__content {
    padding: 79px 0 83px;
  }
  .reviews__content .reviews__title {
    font-size: 42px;
    line-height: 100%;
  }
  .reviews__content .reviews__slider-cont {
    padding-top: 47px;
  }
  .reviews__content .reviews__slider-cont .reviews__slider {
    margin: 0 12px;
  }
  .reviews__content .reviews__slider-cont .reviews__slider .reviews__slider-line {
    gap: 63px 50px;
  }
  .review__card {
    padding: 36px 54px 42px;
  }
  .review__card .review__card-name {
    padding-bottom: 4px;
  }
  .review__card .review__card-place {
    padding-bottom: 4px;
  }
  .review__card .review__card-stars {
    padding-bottom: 25px;
  }
  .review__card p {
    font-size: 20px;
  }
  .review__button {
    font-size: 20px;
    line-height: 23px;
  }
}

@media screen and (max-width: 1599px) {
  .reviews__content {
    padding: 53px 0 53px;
  }
  .reviews__content .reviews__title {
    font-size: 28px;
  }
  .reviews__content .reviews__slider-cont {
    padding-top: 53px;
  }
  .reviews__content .reviews__slider-cont .reviews__slider {
    height: 353px;
    margin: 0 30px;
  }
  .reviews__content .reviews__slider-cont .reviews__slider .reviews__slider-line {
    gap: 43px 34px;
  }
  .reviews__content .review__button {
    font-size: 20px;
    line-height: 23px;
    padding: 18px 96px;
  }
  .review__card {
    width: 401px;
    height: 155px;
    padding: 25px 38px 31px;
  }
  .review__card .review__card-name {
    width: 150px;
    padding-bottom: 3px;
    font-size: 16px;
    line-height: 100%;
  }
  .review__card .review__card-date {
    font-size: 16px;
    line-height: 100%;
  }
  .review__card .review__card-place {
    padding-bottom: 1px;
    font-size: 13px;
    line-height: 100%;
  }
  .review__card .review__card-stars {
    padding-bottom: 0;
  }
  .review__card p {
    font-size: 15px;
    width: 337px;
  }
  .card__star5 {
    content: url(../pictures/reviews/5star.png);
    max-width: 86px;
  }
  .card__star4 {
    content: url(../pictures/reviews/4star.png);
    max-width: 86px;
  }
}

@media screen and (max-width: 999px) {
  .reviews__content {
    padding: 24px 0 43px;
  }
  .reviews__content .reviews__title {
    font-size: 16px;
  }
  .reviews__content .reviews__slider-cont {
    padding-top: 41px;
  }
  .reviews__content .reviews__slider-cont .reviews__slider {
    height: 338px;
    margin: 0;
  }
  .reviews__content .reviews__slider-cont .reviews__slider .reviews__slider-line {
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 10px;
    left: 10px;
  }
  .reviews__content div .button {
    position: relative;
    left: 37px;
    font-size: 14px;
    line-height: 16px;
    padding: 15px 50px;
  }
  .review__card {
    width: 274px;
    height: 106px;
    padding: 1px 23px 22px;
  }
  .review__card .review__card-name {
    width: 100px;
    padding-bottom: 2px;
    font-size: 11px;
  }
  .review__card .review__card-date {
    font-size: 11px;
  }
  .review__card .review__card-place {
    padding-bottom: 1px;
    font-size: 8px;
  }
  .review__card .review__card-stars {
    padding-bottom: 0;
  }
  .review__card p {
    font-size: 10px;
    width: 225px;
  }
  .button__review-right {
    display: none;
  }
  .button__review-left {
    display: none;
  }
  .card__star5 {
    content: url(../pictures/reviews/5star.png);
    max-width: 58px;
  }
  .card__star4 {
    content: url(../pictures/reviews/4star.png);
    max-width: 58px;
  }
}

.suggest .suggest__content {
  padding: 126px 0 193px;
}

.suggest .suggest__title {
  margin: 0 auto;
  text-align: center;
  max-width: 505px;
}

.suggest .suggest__cards {
  margin-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 92px;
}

.suggest .suggest__cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 676px;
  background: #D9D9D9;
  border-radius: 12px;
}

.suggest .suggest__cards .card .card__title {
  margin-top: 45px;
}

.suggest .suggest__cards .card .card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 305px;
  width: 330px;
}

.suggest .suggest__cards .card .card__img img {
  max-width: 330px;
  max-height: 305px;
}

.suggest .suggest__cards .card .card__price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 36px;
  margin-bottom: 48px;
}

.suggest .suggest__cards .card .card__price .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.suggest .suggest__cards .card .card__price .price p {
  margin: 0;
}

.suggest .suggest__cards .card .card__price .price span {
  margin: 0;
}

.suggest .suggest__cards .card .card__button {
  margin-bottom: 45px;
  padding: 24px 113px;
  border-radius: 59px;
}

@media screen and (max-width: 1919px) {
  .suggest .suggest__content {
    padding: 84px 0 162px;
  }
  .suggest .suggest__title {
    max-width: 505px;
    font-size: 42px;
    line-height: 120%;
  }
  .suggest .suggest__cards {
    margin-top: 60px;
    gap: 77px 40px;
  }
  .suggest .suggest__cards .card {
    width: 359px;
    height: 567px;
  }
  .suggest .suggest__cards .card .card__title {
    max-width: 257px;
    margin-top: 38px;
    font-size: 26px;
    line-height: 120%;
  }
  .suggest .suggest__cards .card .card__img {
    max-height: 195px;
    width: 236px;
  }
  .suggest .suggest__cards .card .card__img img {
    max-width: 236px;
    max-height: 190px;
  }
  .suggest .suggest__cards .card .card__price {
    padding: 0 41px;
    margin-bottom: 48px;
  }
  .suggest .suggest__cards .card .card__button {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 39px;
    padding: 20px 94px;
  }
}

@media screen and (max-width: 1599px) {
  .suggest .suggest__content {
    padding: 55px 0 125px;
  }
  .suggest .suggest__title {
    max-width: 300px;
    font-size: 28px;
    line-height: 120%;
  }
  .suggest .suggest__cards {
    margin-top: 32px;
    gap: 60px 30px;
  }
  .suggest .suggest__cards .card {
    width: 293px;
    height: 459px;
  }
  .suggest .suggest__cards .card .card__title {
    max-width: 208px;
    margin-top: 31px;
    font-size: 21.069px;
  }
  .suggest .suggest__cards .card .card__img {
    max-height: 158px;
    width: 191px;
  }
  .suggest .suggest__cards .card .card__img img {
    max-width: 190px;
    max-height: 158px;
  }
  .suggest .suggest__cards .card .card__price {
    padding: 0 36px;
    margin-bottom: 33px;
  }
  .suggest .suggest__cards .card .card__button {
    font-size: 17.8276px;
    line-height: 20px;
    margin-bottom: 31px;
    padding: 16px 76px;
  }
}

@media screen and (max-width: 999px) {
  .suggest .suggest__content {
    padding: 45px 0 43px;
  }
  .suggest .suggest__title {
    max-width: 179px;
    font-size: 16px;
    line-height: 120%;
  }
  .suggest .suggest__cards {
    margin-top: 38px;
    gap: 20px;
  }
  .suggest .suggest__cards .card {
    width: 140px;
    height: 227px;
  }
  .suggest .suggest__cards .card .card__title {
    max-width: 103px;
    margin-top: 15px;
    font-size: 10px;
  }
  .suggest .suggest__cards .card .card__img {
    max-height: 78px;
    width: 95px;
  }
  .suggest .suggest__cards .card .card__img img {
    max-width: 95px;
    max-height: 78px;
  }
  .suggest .suggest__cards .card .card__price {
    padding: 0 16px;
    margin-bottom: 14px;
  }
  .suggest .suggest__cards .card .card__button {
    font-size: 9px;
    line-height: 10px;
    margin-bottom: 23px;
    padding: 8px 37px;
  }
}

.card__item1 {
  content: url(../pictures/suggest/c_1.png);
}

.card__item2 {
  content: url(../pictures/suggest/c_2.png);
}

.card__item3 {
  content: url(../pictures/suggest/c_3.png);
}

.card__item4 {
  content: url(../pictures/suggest/c_4.png);
}

.card__item5 {
  content: url(../pictures/suggest/c_5.png);
}

.card__item6 {
  content: url(../pictures/suggest/c_6.png);
}

.order .order__content {
  padding: 121px 0 142px;
}

.order .order__content .order__title {
  text-align: center;
  margin: 0 auto;
}

.order .order__content .order__items {
  padding-top: 172px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 150px;
}

.order .order__content .order__items .order__item {
  text-align: center;
}

.order .order__content .order__items .order__item .order__text {
  margin: 0;
  padding-top: 38px;
}

@media screen and (max-width: 1919px) {
  .order .order__content {
    padding: 121px 0 107px;
  }
  .order .order__content .order__title {
    font-size: 42px;
    line-height: 100%;
  }
  .order .order__content .order__items {
    padding-top: 119px;
    gap: 44px;
  }
  .order .order__content .order__items .order__item img {
    max-height: 72px;
    max-width: 91px;
  }
  .order .order__content .order__items .order__item .order__text {
    padding-top: 32px;
    font-size: 25px;
    line-height: 120%;
  }
}

@media screen and (max-width: 1599px) {
  .order .order__content {
    padding: 68px 0 60px;
  }
  .order .order__content .order__title {
    font-size: 28px;
  }
  .order .order__content .order__items {
    padding-top: 82px;
    gap: 31px;
  }
  .order .order__content .order__items .order__item img {
    max-height: 52px;
    max-width: 65px;
  }
  .order .order__content .order__items .order__item .order__text {
    padding-top: 20px;
    font-size: 18px;
  }
}

@media screen and (max-width: 999px) {
  .order .order__content {
    padding: 41px 0 60px;
  }
  .order .order__content .order__title {
    font-size: 16px;
  }
  .order .order__content .order__items {
    padding-top: 50px;
  }
  .order .order__content .order__items .order__item img {
    max-height: 27px;
    max-width: 36px;
  }
  .order .order__content .order__items .order__item .order__text {
    padding-top: 5px;
    font-size: 12px;
  }
}

.order__img1 {
  content: url(../pictures/order/o_ico1.png);
}

.order__img2 {
  content: url(../pictures/order/o_ico2.png);
}

.order__img3 {
  content: url(../pictures/order/o_ico3.png);
}

.order__img4 {
  content: url(../pictures/order/o_ico4.png);
}

.sale {
  background: url(../pictures/sale/s_bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  border-top: 2px solid black;
}

.sale .blur {
  position: absolute;
  top: -100px;
  width: 100%;
  height: 250px;
  background: #E6E6E6;
  -webkit-filter: blur(75px);
          filter: blur(75px);
  z-index: 0;
}

.sale .container {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-color: rgba(116, 116, 116, 0.5);
}

.sale .sale__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 255px 0 48px;
  gap: 175px;
}

.sale .sale__content .sale__content-text h4 {
  margin: 0;
  padding-bottom: 12px;
}

.sale .sale__content .sale__content-text p {
  margin: 0;
  max-width: 417px;
  padding-bottom: 107px;
}

.sale .sale__content .sale__content-lamp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sale .sale__content .sale__content-lamp .sale__image {
  margin-top: -165px;
}

.sale .sale__content .sale__content-lamp p {
  margin: 0;
  padding: 0;
}

.sale .sale__content .sale__content-lamp .form__text1 {
  padding-top: 35px;
}

.sale .sale__content .sale__content-lamp .form__text2 {
  padding-top: 6px;
}

.sale .sale__content .sale__content-lamp .form__text2 {
  padding-top: 10px;
}

.sale .sale__content .sale__content-lamp form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
}

.sale .sale__content .sale__content-lamp form .sale__count-lamp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 216px;
  height: 64px;
}

.sale .sale__content .sale__content-lamp form .sale__count-lamp input {
  width: 111px;
  height: 63px;
  text-align: center;
  background: #D9D9D9;
}

.sale .sale__content .sale__content-lamp form .sale__count-lamp button {
  background: #FFFFFF;
  color: #363636;
  width: 52.87px;
  height: 63px;
}

.sale .sale__content .sale__content-lamp .sale__button {
  margin-top: 45px;
  border-radius: 59px;
  padding: 24px 132px;
}

.sale__image img {
  content: url(../pictures/sale/s_img.png);
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 171px;
}

.footer__content .footer__link1 {
  padding-bottom: 30px;
}

.footer__content p {
  text-align: center;
  padding-bottom: 58px;
}

.footer__content .footer__links {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer__content .footer__link3 {
  padding: 10px 0 104px;
}

.footer__content .footer__img {
  content: url(../pictures/footer/f_img.png);
  max-width: 777px;
}

@media screen and (max-width: 1919px) {
  .footer__content {
    padding-top: 92px;
  }
  .footer__content .footer__link1 {
    font-size: 25px;
    line-height: 34px;
  }
  .footer__content p {
    font-size: 24px;
    line-height: 33px;
  }
  .footer__content .footer__link3 {
    padding-bottom: 86px;
  }
  .footer__content .footer__links {
    font-size: 28px;
    line-height: 38px;
  }
}

@media screen and (max-width: 1599px) {
  .footer__content {
    padding-top: 54px;
  }
  .footer__content .footer__link1 {
    font-size: 16px;
    line-height: 22px;
  }
  .footer__content p {
    font-size: 16px;
    line-height: 22px;
  }
  .footer__content .footer__link3 {
    padding-bottom: 57px;
  }
  .footer__content .footer__links {
    font-size: 24px;
    line-height: 33px;
  }
  .footer__content .footer__img {
    max-width: 575px;
  }
}

@media screen and (max-width: 999px) {
  .footer__content {
    padding-top: 37px;
  }
  .footer__content .footer__link1 {
    font-size: 6px;
    line-height: 8px;
  }
  .footer__content p {
    width: 151px;
    font-size: 6px;
    line-height: 8px;
  }
  .footer__content .footer__link3 {
    padding-bottom: 22px;
  }
  .footer__content .footer__links {
    font-size: 8px;
    line-height: 11px;
  }
  .footer__content .footer__img {
    max-width: 211px;
  }
}

.info__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px;
  width: 100%;
}

.info__cont .slider {
  max-height: 600px;
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.info__cont .slider .slider__line {
  width: 100%;
  max-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 0;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.info__cont .slider .slider__line .slider__image {
  width: 600px;
  max-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__cont .slider .slider__line .slider__image img {
  padding: 0 150px;
}

.slider__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 110px auto 90px;
  width: 332px;
  height: 15px;
  background: #D9D9D9;
  border-radius: 28px;
}

.slider__scroll .slider__thumb {
  position: relative;
  left: 0;
  width: 140px;
  height: 15px;
  background: linear-gradient(228.55deg, #4A3E56 11.03%, #8891BC 84.36%);
  border-radius: 28px;
  cursor: pointer;
}

.slider__scroll .slider__thumb:hover {
  background: linear-gradient(211.69deg, #715f83 -37.44%, #a4a9be 83.87%);
}

@media screen and (max-width: 1919px) {
  .info__cont {
    margin: 0 15px;
  }
  .info__cont .slider {
    max-height: 410px;
    width: 300px;
  }
  .info__cont .slider .slider__line {
    width: 100%;
    max-height: 410px;
    left: 0;
  }
  .info__cont .slider .slider__line .slider__image {
    width: 300px;
    max-height: 410px;
  }
  .info__cont .slider .slider__line .slider__image img {
    height: 55%;
  }
  .info__cont .button__circle {
    width: 48px;
    height: 48px;
  }
  .info__cont .button__circle img {
    max-width: 60%;
  }
  .slider__scroll {
    margin: 41px auto 124px;
    width: 270px;
    height: 12px;
    border-radius: 28px;
  }
  .slider__scroll .slider__thumb {
    width: 114px;
    height: 12px;
    border-radius: 28px;
  }
}

@media screen and (max-width: 1599px) {
  .info__cont {
    margin: 0 auto;
  }
  .info__cont .slider {
    margin: 0 122px;
    height: 350px;
    width: 350px;
  }
  .info__cont .slider .slider__line {
    width: 100%;
    height: 350px;
    left: 0;
  }
  .info__cont .slider .slider__line .slider__image {
    width: 100%;
    max-height: 350px;
  }
  .info__cont .slider .slider__line .slider__image img {
    height: 60%;
    padding: 0 170px;
  }
  .slider__scroll {
    margin: 79px auto 71px;
    width: 270px;
    height: 12px;
    border-radius: 28px;
  }
  .slider__scroll .slider__thumb {
    width: 114px;
    height: 12px;
    border-radius: 28px;
  }
}

@media screen and (max-width: 999px) {
  .info__cont .slider {
    margin: 0 18px;
    height: 200px;
    width: 200px;
  }
  .info__cont .slider .slider__line {
    width: 100%;
    height: 200px;
    left: 0;
  }
  .info__cont .slider .slider__line .slider__image {
    width: 100%;
    max-height: 200px;
  }
  .info__cont .slider .slider__line .slider__image img {
    height: 70%;
    padding: 0 150px;
  }
  .info__cont .button__circle {
    width: 32px;
    height: 32px;
  }
  .info__cont .button__circle img {
    max-width: 50%;
  }
  .slider__scroll {
    margin: 45px auto 54px;
    width: 147px;
    height: 6.64px;
    border-radius: 28px;
  }
  .slider__scroll .slider__thumb {
    width: 61.99px;
    height: 6.64px;
    border-radius: 28px;
  }
}

.slider__image1 {
  content: url(../pictures/info/carousel_1.png);
}

.slider__image2 {
  content: url(../pictures/info/carousel_2.png);
}

.slider__image3 {
  content: url(../pictures/info/carousel_3.png);
}

.slider__image4 {
  content: url(../pictures/info/carousel_4.png);
}

.slider__image5 {
  content: url(../pictures/info/carousel_5.png);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  border: 1px solid black;
  margin: 0;
  padding: 0;
  background-color: #E6E6E6;
}

.dark {
  background: #363636;
}

.dark .product__text {
  display: none;
}

.dark .product__button-desktop {
  margin-left: 345px;
}

.dark .product__content-blur {
  display: block;
  position: absolute;
  top: -120px;
  width: 1500px;
  height: 1531px;
  background: url(../pictures/product/Rectangle52.png);
  opacity: 0.4;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.dark .product__button2 {
  z-index: 1211111;
}

.dark .blur {
  display: none;
}

.product__content-blur {
  display: none;
}

/*
div {
    border: 1px solid black;
}

section {
    border: 1px solid black;
}
*/
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #363636;
}

a:hover {
  text-decoration: underline;
  color: #A41B1B;
}

/*container and wrpapper*/
.container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  max-width: 1660px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 1919px) {
  .container {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
  }
  .wrapper {
    max-width: 1160px;
    margin: 0 auto;
    width: 100%;
  }
  .dark .product__text {
    display: block;
  }
  .button__circle {
    height: 48px;
    width: 48px;
  }
}

@media screen and (max-width: 1599px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
  }
  .wrapper {
    max-width: 940px;
    margin: 0 auto;
    width: 100%;
  }
  .dark .product__text {
    display: block;
  }
}

@media screen and (max-width: 999px) {
  .container {
    max-width: 360px;
    margin: 0 auto;
    width: 100%;
  }
  .wrapper {
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
  }
}

.button__on-off {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 314px;
  height: 54px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.button__on-off .button_l {
  width: 174px;
  height: 54px;
}

.button__circle {
  height: 64px;
  width: 64px;
  border: #E6E6E6;
  border-radius: 50%;
  background: #E6E6E6;
  -webkit-box-shadow: -2px 2px 23px 2px rgba(0, 0, 0, 0.15);
          box-shadow: -2px 2px 23px 2px rgba(0, 0, 0, 0.15);
}

.button__circle:hover {
  -webkit-box-shadow: -2px 4px 32px 4px rgba(0, 0, 0, 0.2);
          box-shadow: -2px 4px 32px 4px rgba(0, 0, 0, 0.2);
}

.button__circle:active {
  background: #c4c4c4;
}

button {
  color: #FFFFFF;
}

button:hover {
  cursor: pointer;
}

.button__bg-red {
  background: #A41B1B;
  border-radius: 59px;
}

.button__bg-red:hover {
  background: #c04949;
}

.button__bg-red:active {
  background: #e46f6f;
}

.product__button {
  padding: 24px 113px;
}

.button__bg-grad {
  background: linear-gradient(211.69deg, #4A3E56 -37.44%, #8891BC 83.87%);
  border-radius: 59px;
}

.button__bg-grad:hover {
  background: linear-gradient(211.69deg, #715f83 -37.44%, #a4a9be 83.87%);
}

.button__bg-grad:active {
  background: linear-gradient(211.69deg, #88858b -37.44%, #a4a9be 83.87%);
}

.review__button {
  padding: 24px 132px;
}
